/* line 5, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
h1 {
  color: #fdfd53;
  font-weight: bold;
  margin: 0;
  line-height: 1; }

/* line 12, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
#organised-by, #powered-by {
  color: #000; }
  /* line 14, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
  #organised-by span, #powered-by span {
    display: block;
    font-size: 0.9em;
    line-height: 1em;
    margin-bottom: 0.5em; }

/* line 22, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
#powered-by {
  float: right; }

/* line 26, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
body {
  background: url("/images/background.jpg") bottom center fixed #545454;
  background-size: cover;
  color: #FFF;
  font-family: 'Titillium Web';
  font-size: 20px;
  line-height: 1.1em;
  -webkit-font-smoothing: antialiased; }

/* line 36, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
span.check {
  display: block;
  color: #fdfd53;
  margin-bottom: 0.5em; }

/* line 42, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
#open-design {
  background: #FFF;
  height: 200px; }

/* line 47, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
#fab10 {
  background: #053FA0; }

/* line 51, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
#container {
  width: 800px;
  margin: 50px auto; }

/* line 56, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
#bigbangdata {
  background: #000; }

/* line 59, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
#ouisharesafari {
  background: #FFF; }

/* line 62, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
#spainmeetup {
  background: #008B80; }

/* line 66, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
h1 {
  font-size: 70px;
  margin: 0; }

/* line 71, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
img {
  display: block;
  clear: both; }

/* line 76, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
table {
  width: 100%;
  color: #000;
  margin-bottom: 20px;
  border-collapse: collapse; }
  /* line 81, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
  table td.day {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    width: 12.5%;
    text-align: center; }
  /* line 89, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
  table tbody td {
    height: 80px;
    text-align: center; }
    /* line 92, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
    table tbody td img {
      max-width: 90%;
      display: inline; }
  /* line 99, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
  table thead th {
    background: #fdfd53; }
  /* line 102, /Users/john/Code/8days/8daysbcn/source/stylesheets/all.css.scss */
  table thead td {
    background: #000;
    color: #fdfd53; }
